button {
  cursor: pointer;
  margin-top: 15px;
}

.button-div {
  display: flex;
  flex-direction: column;
}

.youtube {
  background-color: rgb(198, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 16px;
  transition: opacity 300ms;
}

.youtube:hover {
  opacity: .75;
}

.youtube:active {
  opacity: .6;
}

.join {
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  border-color: rgb(0, 100, 214);
  color: rgb(0, 100, 214);
  border-radius: 4px;
  transition: background-color 350ms, opacity 350ms, color 350ms;
  margin-top: 10px;
}

.join:hover {
  background-color: rgb(0, 100, 214);
  color: white;
  opacity: .85;
}

.join:active {
  opacity: .7;
}

.tweet {
  background-color: rgb(0, 162, 255);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  height: 36px;
  width: 80px;
  border-radius: 36px;
  transition: background-color 350ms, box-shadow 450ms;
  margin-top: 10px;
}

.tweet:hover {
  background-color: rgb(0, 141, 222);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
}

.tweet:active {
  opacity: .75;
}

.uber {
  height: 40px;
  width: 136px;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  transition: 350ms;
  margin-top: 10px;
}

.uber:active {
  background-color: rgba(70, 0, 132, 0.947);
}

.uber:hover {
  opacity: .8;
}

.amazon {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 36px;
  width: 192px;
  border-radius: calc(192px / 2);
  margin-top: 10px;
}

.amazon:hover {
  opacity: .75;
}

.amazon:active {
  background-color: gray;
}

.github {
  background-color: rgb(46, 164, 79);
  border: none;
  height: 50px;
  width: 120px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  transition: box-shadow 350ms;
  margin-top: 10px;
}

.github:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
}

.bootstrap, .bootstrap-download {
  height: 44px;
  width: 136px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.bootstrap {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  transition: background-color 350ms;
}

.bootstrap-download {
  background-color: white;
  color: rgb(121, 82, 179);
  border: 1px solid rgb(121, 82, 179);
  transition: background-color 350ms, color 450ms;
}

.bootstrap:hover {
  background-color: gray;
}

.bootstrap-download:hover {
  background-color: gray;
  color: white;
}

.linkedin, .linkedin-save {
  height: 44px;
  border-radius: calc(44px / 2);
  font-weight: bold;
  margin-top: 10px;
}

.linkedin {
  background-color: rgb(10, 102, 194);
  color: white;
  width: 270px;
}

.linkedin-save {
  width: 96px;
  background-color: white;
  color:rgb(10, 102, 194);
  border: 1px, solid, rgb(10, 102, 194);
}

.amazon-page {
  margin: 20px 10px 10px 10px;
}

.back-link {
  transition: 250ms;
}

.back-link:hover {
  color: rgb(134, 73, 239);
}

.pricing {
  color: rgb(0,118,0);
}

p {
  font-size: 24px;
}

.amazon-nike, .amazon-buynow {
  width: 140px;
  height: 36px;
  border: none;
  border-radius: calc(36px / 2);
  transition: 350ms;
}

.amazon-nike {
  background-color: rgb(255, 216, 20);
}

.amazon-nike:active {
  opacity: .75;
}

.amazon-buynow {
  background-color: rgb(255, 164, 28);
}

.amazon-buynow:active {
  opacity: .75;
}

.back-button, .next-button {
  border-radius: 4px;
  border: 1px solid gray;
  margin-right: 10px;
  padding: 8px 8px;
}

.next-button {
  margin-left: 10px;
}

.a, .b, .c, .d, .e {
  margin: 5px;
}

.a:active, .b:active, .c:active, .d:active, .e:active {
  color: rgb(134, 73, 239);
}

.stretch-button {
  color: white;
  background-color: green;
  border: none;
  padding: 8px 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: 450ms;
}

.stretch-button:hover {
  padding: 20px 30px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.25);
  margin-bottom: 6px;
}

.shadow-button {
  background: green;
  color: white;
  padding: 8px 15px; 
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.40);
}

.shadow-button:active {
  margin-left: 3px;
  margin-top: 18px;
  margin-bottom: -3px;
  box-shadow: none;
}

.one-button, .two-button, .three-button {
  color: white;
  background-color: green;
  padding: 10px 15px;
  border: none;
  margin: 15px;
  transition: 300ms;
}

.one-button:hover, .two-button:hover, .three-button:hover {
  padding: 10px 30px;
  margin: 0;
}